body, .container-fluid{
    margin: 0;
    padding: 0;
}

.card{
    
    width: 25em;
    height: 17em;
    margin: 10px;

}

.card-img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.card-img-top{
    height: 220px;
}

.row .col .card{
    margin-top: 40px;
    
}




/*980 */ /*laptop to large screen */
@media only screen and (min-width: 769px) {
    
    
    .navbar{
        height: 8em;
    }

    #carouselExampleIndicators{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        
    }

    .nav-bottom{
    margin-left: 50px;
    }

    .table{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    }

    .text{
        padding-left: 55px;
    }

    #font{
    
        font-size:5em;
        text-align: center;
    }

    .card-img-overlay p{
        font-size: 4.5em;
    }
    


}

@media only screen and (max-width:576px){
    .table{
        max-width: 576px;
    }

    #font{
        text-align: justify;
        font-size:250%;
    }

    
    

}




/*computer science */



.text{
    margin: 0% 50px;
    
    font-size: 0.9em;
    line-height: 24px;
}

.text p{
    text-indent: 1em;
}


.table tbody th{
    padding-left: 1em;

}

.table tbody .topic-small{
    padding-left: 3.5em;;
}

.table tbody td{
    padding-left: 2em;

}

.table thead th{
    padding-left: 2em;

}

.billboad{
    background-color: rgb(0, 0, 141);
    color: white;
    height: 140px;
    margin-bottom: 30px;
    
    
}

.billboad li,h1{
    padding-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 85px;
    font-weight: bolder;
    
}



a{
    text-decoration: none;
}



footer{
    margin-top: 15em;
}


/*drop-down */

.drop-down2
{
	position:relative;
}
.drop-down2 .dropdown-toggle{
	color:#000 !important;
	padding:.25rem 1.5rem !important;
}
.drop-down2 .sub-menu2
{
	position:absolute;
	top:0;
	left:100%;
}
	@media screen and (max-width:767px)
	{
	.drop-down2 .sub-menu2
	{
	position:static;
	}
} 

nav ul li a{
    font-size: larger;
    
}

nav a{
    color: black;
}
